<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h3 class="footer-title">Follow Me!</h3>
        <p>Drinking vinegar selvage franzen four dollar toast lumbersexual vegan, stumptown sriracha locavore mustache banh mi schlitz iPhone portland mumblecore. Squid literally echo park messenger bag blue bottle tote bag, asymmetrical chambray chartreuse YOLO fap lo-fi locavore thundercats. Polaroid heirloom quinoa occupy, bushwick fixie bespoke beard gastropub fashion axe celiac. Tacos aesthetic deep v retro, kickstarter flexitarian green juice art party skateboard plaid cardigan vice waistcoat cliche neutra. Marfa bespoke listicle, cardigan master cleanse try-hard beard migas raw denim etsy meditation bushwick kitsch fap. Mumblecore twee pinterest master cleanse portland, cred try-hard. Butcher 3 wolf moon microdosing locavore.</p>

  <!-- LICENSE -->
  <a rel="cc:attributionURL" href="http://www.andreagalanti.it/flatfy"
   property="dc:title">Flatfy Theme </a> by
   <a rel="dc:creator" href="http://www.andreagalanti.it"
   property="cc:attributionName">Andrea Galanti</a>
   is licensed to the public under
   <BR>the <a rel="license"
   href="http://creativecommons.org/licenses/by-nc/3.0/it/deed.it">Creative
   Commons Attribution 3.0 License - NOT COMMERCIAL</a>.


      </div> <!-- /col-xs-7 -->

      <div class="col-md-5">
        <div class="footer-banner">
          <h3 class="footer-title">Nachomoms Paleo</h3>
          <ul>
            <li>1510 Blake Street</li>
            <li>Denver, CO</li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</footer>
