<div class="cart">
	<div class="container">
		<div class="cart-top">
			Your Orders
    </div>
		<div class="order-index">
			<%= render partial: "shared/orders", locals: {orders:@orders} %>
		</div>
	</div>
</div>
