<!DOCTYPE html>
<html>
<head>
<%= render partial: "shared/headtags" %>
</head>
<body id="home">
  <% flash.each do |type, message| %>
    <%= content_tag :div, message.html_safe, class: type %>
  <% end %>

<div class="intro-header">
<div class="col-xs-12 text-center abcen1">
  <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Nachomoms Paleo</h1>
  <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">
    More Paleo
      than all your most <em>hipster-paleo-diet-eating-crossfiting-friends</em>,<br>
      the<strong> ULTIMATE PALEO,</strong><br>the <strong>PALEOEST</p></strong></h3>
  <ul class="list-inline intro-social-buttons">

    <li><%= link_to content_tag(:span, "Shop", class: "network-name"), items_path, class: "btn mybutton_cyano wow fadeIn" %>
  </ul>
</div>
</body>
</html>
