
<div class="intro-header">
<div class="col-xs-12 text-center abcen1">
  <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Nachomoms Paleo</h1>
  <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">
    More Paleo
      than all your most <em>hipster-paleo-diet-eating-crossfiting-friends</em>,<br>
      the<strong> ULTIMATE PALEO,</strong><br>the <strong>PALEOEST</p></strong></h3>
  <ul class="list-inline intro-social-buttons">
    <li><a href="https://twitter.com/galantiandrea" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">First Button</span></a>
    </li>
    <li id="download" ><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Second Button</span></a>
    </li>
  </ul>
</div>
