
<div id="whatis" class="content-section-b" style="border-top: 0">
  <div class="container">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2>Our Inventory</h2>
      <p class="lead" style="margin-top:0">For all your paleo needs!</p>
    </div>

<% @items.each_slice(3).to_a.each do |items| %>
<div class="row">
  <% items.each do |item| %>
    <%= render partial: 'shared/item', locals: {item: item} %>
  <% end %>
</div><!-- /.row -->
<% end %>
</div>
</div>
