
<div id="whatis" class="content-section-b" style="border-top: 0">
  <div class="container">

    <div class="col-md-6 col-md-offset-3 text-center wrap_title">
      <h2></h2>
      <p class="lead" style="margin-top:0"></p>
    </div>

<div class="row">
  <div class="col-sm-4 wow fadeInDown text-center">
  </div>
    <%= render partial: 'shared/item', locals: {item: @item} %>
</div>
  </div>
</div>
