/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


img {max-width: 150px}

.thumbnail {max-width: 100px}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 24px;
    line-height: 20px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 14px 14px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #;
    fill: #2C9090;
}

div.splash {
    padding: 50px;

}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

p.huge {
  font-size: 150px;
  font-family: 'Amatic SC';
  color: white;
  text-shadow: 4px 4px 4px #aaa;
  font-effect: emboss;
  line-height: 90%
}

.med {
  font-size: 20px;
  font-family: 'Raleway';
  color: black;
  text-shadow: 4px 4px 4px #aaa;
}

.float-button {
    /*position: absolute;*/
    /*left: 50%;*/
    /*text-align: center;*/
    /*float: center;*/
    padding-top: 300px;
    top: 500px;
    z-index: 1;
}

.btn-primary.gradient {
	background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
	background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

.custom {
  width: 178px !important;
}
