/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


img {max-width: 150px}

.thumbnail {max-width: 100px}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 24px;
    line-height: 20px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 14px 14px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #;
    fill: #2C9090;
}

div.splash {
    padding: 50px;

}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

p.huge {
  font-size: 50px;
  color: white;
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
