<!DOCTYPE html>
<html>
<head>
  <title>Nachomoms Paleo Store</title>
  <%= render partial: "shared/head" %>
</head>
<body>

<% flash.each do |type, message| %>
  <%= content_tag :div, message.html_safe, class: type %>
<% end %>

<%= yield %>
<%= render partial: "shared/footer" %>
</body>
</html>
